.conf-info-label{
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 8px;
}

.conf-info-section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.illustration{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.session-carousel-item{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;

}

.conf-info-container{
    height:500px;
    overflow-y: scroll;

}